PORT=5000
MONGODB_URI=mongodb://localhost:27017/sco_network
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
